{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/">Gestión de {{ fase.nombre }}</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/relaciones/{{ id_item }}/">Relaciones de Item</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/">Item - Relaciones</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">
	<form class="navbar-form navbar-left">
		<a href="nuevo/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-folder-open"></span> Crear Relacion</button></a>
<!-- 		<a href="#"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-import"></span> Importar Fase</button></a>-->
	</form>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	{% if lista_relaciones %}
		<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
				    	<div class="col-md-4">
				   			<div class="panel-heading">
				      			<h4 class="panel-title"><b>Nombre</b></h4>
				    		</div>
				    	</div>				    
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Relacion (Item listado)</b></h4>
				    		</div>
				    	</div>
				    </div>
				</div>
	{% else %}
		{% if padre %}
			<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
				    	<div class="col-md-4">
				   			<div class="panel-heading">
				      			<h4 class="panel-title"><b>Nombre</b></h4>
				    		</div>
				    	</div>				    
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Relacion (Item listado)</b></h4>
				    		</div>
				    	</div>
				    </div>
				</div>
		{% endif %}
				{% if padre %}
				<div class="panel panel-default">
					<div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ padre.relacion }}">
				          			{{ padre.nombreitem }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>	
				     <div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ padre.relacion }}">
				          			Padre
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    <div id="collapse{{ padre.relacion }}" class="panel-collapse collapse pull-left">
				      <div class="panel-body">
				      		<button class="btn btn-danger btn-sm relaciones" data-toggle="modal" data-target="#myModal" data-id="{{ padre.relacion }}"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
				      </div>
				    </div>
				    {% else %}
				    <div class="jumbotron">
					<div class="bs-example">
						<p class="text-warning" align="center"><small>No se encontro relacion padre/antecesor</small></p>
					</div>
				</div>
				   {% endif %}
				   {% if lista_relaciones %}
				{% for relacion in lista_relacioness %}
					<div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ relacion.relacion }}">
				          			{{ relacion.nombreitem }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>				    
				    <div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ relacion.relacion }}">
				          			Hijo
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    <div id="collapse{{ relacion.relacion }}" class="panel-collapse collapse pull-left">
				      <div class="panel-body">
				      		<button class="btn btn-danger btn-sm relaciones" data-toggle="modal" data-target="#myModal" data-id="{{ relacion.id }}"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
				      </div>
				    </div>
				</div>
			{% endfor %}
		</div>
		</div>
		{% else %}
				<div class="jumbotron">
					<div class="bs-example">
						<p class="text-warning" align="center"><small>No se encontraron hijos/sucesores</small></p>
					</div>
				</div>
		{% endif %}
		<div align="center"><br>
			<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</button></a>
		</div>
			<!-- Ininicia Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Eliminar</h4>
						</div>
						<div class="modal-body">
							Esta usted seguro de que desea eliminar la relacion?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
							<a id="relacion" href=""><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Estoy Seguro</button></a>
						</div>
					</div>
				</div>
			</div>
<!-- Finaliza el Modal -->
			{% endif %}
</div>
{% endblock %}
