{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/">Gestión de {{ fase.nombre }}</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/consultar/{{ id_item }}/">Consulta Solicitud</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}


{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/">Items - {{ item.nombre }}</a>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<div class="container">
		<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
				
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<table class="table table-hover table-bordered table-condensed table-responsive">
						<tbody>
						  	<!-- Aplicadas en las filas -->
						  	<tr class="active">
						  		<td><p><h4>Id: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.id }}</span></h4></h4></p></td>
							</tr>
						  	<tr class="active">
						  		<td><p><h4>Usuario: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.usuario_id.nombre }}</span></h4></h4></p></td>
							</tr>
						  	<tr class="active">
						  		<td><p><h4>Nombre: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.proyecto_id.nombre }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Fase: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.fase_id.nombre }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Item: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.item_id.nombre }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Fecha de Solicitud: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.fecha_solicitud }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Tiempo solicitado para la modificacion: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.tiempo_solicitado }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Descripcion: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.descripcion }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Observaciones:</h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.observaciones }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Estado: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.estado }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Tiempo Valido para la solicitud: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ solicitud.tiempo_esperado }}</span></h4></h4></p></td>
						  	</tr>
						  	<br>
						</tbody>	
					</table>
					{% ifequal solicitud.estado 'Pendiente' %}
						<div align="center">
							<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/cancelar_solicitud/{{ solicitud.id }}/"><button type="button" class="btn btn-default"> Cancelar Solicitud <br></button></a>
						</div>
					{% endifequal %}
					<div align="center">
						<a href="javascript:window.history.back();"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button></a>
					</div>
				</div>
				
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
		</div>
	</div>
</div>

	
{% endblock %}


