{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/">Gestión de {{ fase.nombre }}</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/consultar/{{ id_item }}/">Consulta Solicitud</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/informes/acercade/">Acerca de</a></li>
			{% if user.id == 1 %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				   	<li><a href="/logs/hoy/">Hoy</a><li>
                    <li><a href="/logs/ayer/">Ayer</a></li>
                    <li><a href="/logs/semana1/">Una semana</a></li>
                    <li><a href="/logs/semana2/">Dos semanas</a></li>
                    <li><a href="/logs/mas/">mas...</a></li>
				</ul>
			</li>
            {% endif %}
		</ul>
	</div>
</nav>
{% endblock %}


{% block menu %}
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/">Items - {{ item.nombre }}</a>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<div class="container">
		<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>

				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<table class="table table-hover table-bordered table-condensed table-responsive">
						<tbody>
						  	<!-- Aplicadas en las filas -->
						  	<tr class="active">
						  		<td><p><h4>Usuario: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ credencial.usuario.user.username }}</span></h4></h4></p></td>
							</tr>
						  	<tr class="active">
						  		<td><p><h4>Nombre: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ credencial.proyecto.nombre }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Fase: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ credencial.fase.nombre }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Item: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ credencial.item.nombre }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Fecha de Solicitud: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ credencial.fecha_aprobacion }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Tiempo solicitado para la modificacion: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ credencial.fecha_expiracion }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Descripcion: </h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ credencial.estado }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Observaciones:</h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ credencial.observaciones }}</span></h4></h4></p></td>
						  	</tr>
						  	<br>
						</tbody>
					</table>
					<div align="center">
						<a href="javascript:window.history.back();"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Volver</button></a>
					</div>
				</div>

				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
		</div>
	</div>

		<!-- Ininicia Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
		      </div>
		      <div class="modal-body">
		        	Esta usted seguro de que desea Cancelar la Solicitud?
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
		       <a id="solicitudRealizada" href=""><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Estoy Seguro</button></a>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Finaliza el Modal -->

</div>


{% endblock %}


