{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/adm_proyectos/credenciales/">Credenciales</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/adm_proyectos/credenciales/">Credenciales</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">

</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
		{% if lista_credenciales %}
		<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
				    	
				    	<div class="col-md-3">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>ID</b></h4>
				    		</div>
				    	</div>
				    
				    	<div class="col-md-3">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Item</b></h4>
				    		</div>
				    	</div>
				    
				    	<div class="col-md-3">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Estado</b></h4>
				    		</div>
				    	</div>
				    	
				    	<div class="col-md-3">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Fecha de Expiracion</b></h4>
				    		</div>
				    	</div>
				    	
				    </div>
				</div>
			{% for credencial in lista_credenciales %}
				<div class="panel panel-default">
					
					<div class="col-md-3">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ credencial.id }}">
				          		{{ credencial.id }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    <div class="col-md-3">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ credencial.id }}">
				          		{{ credencial.item.nombre }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    <div class="col-md-3">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ credencial.id }}">
				          		{{ credencial.estado }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    <div class="col-md-3">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ credencial.id }}">
				          		{{ credencial.fecha_expiracion }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    
				    <div id="collapse{{ credencial.id }}" class="panel-collapse collapse pull-left">
				      <div class="panel-body">
				      		<a href="#"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Consultar</button></a>
				      		{% ifequal credencial.estado 'Habilitado' %}
				      		<button class="btn btn-danger btn-sm credencial" data-toggle="modal" data-target="#myModal" data-id="{{ credencial.id }}"><span class="glyphicon glyphicon-trash"></span> Cancelar Credencial</button>
				      		{% endifequal %}
				      </div>
				    </div>
				    
				</div>
			{% endfor %}
		</div>
		</div>
		{% else %}
			<div class="jumbotron">
				<div class="bs-example">
					<p class="text-warning" align="center"><small>Usted no tiene aprobada ninguna credencial de modificacion de Item</small></p>
				</div>
			</div>
		{% endif %}
		
			<!-- Ininicia Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
		      </div>
		      <div class="modal-body">
		        	Esta usted seguro de que desea Cancelar la Credencial?
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
		       <a id="credencial" href=""><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Estoy Seguro</button></a>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Finaliza el Modal -->
</div>
{% endblock %}
