{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/adm_proyectos/solicitudes_recibidas/">Solicitudes Recibidas</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1">
			<a href="/adm_proyectos/solicitudes_realizadas/">Solicitudes Realizadas</a>
		</li>
		<li id="option2" class="active">
			<a href="/adm_proyectos/solicitudes_recibidas/">Solicitudes Recibidas {% if pendientes > 0 %} ({{ pendientes }}) {% endif %}</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">

</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
		{% if solicitudes %}
		<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
				    	
				    
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Estado</b></h4>
				    		</div>
				    	</div>
				    
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Descripcion</b></h4>
				    		</div>
				    	</div>
				    </div>
				</div>
			{% for solicitud in solicitudes %}
				<div class="panel panel-default">
					
				    
				    <div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ solicitud.id }}">
				          		{{ solicitud.estado }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    <div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ solicitud.id }}">
				          		{{ solicitud.descripcion }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    
				    <div id="collapse{{ solicitud.id }}" class="panel-collapse collapse pull-left">
				      <div class="panel-body">
				      		<a href="/adm_proyectos/solicitudes_realizadas/consultar_solicitud/{{ solicitud.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Consultar</button></a>
				      		<a href="#"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Votar</button></a>
				      </div>
				    </div>
				    
				</div>
			{% endfor %}
		</div>
		</div>
		{% else %}
			<div class="jumbotron">
				<div class="bs-example">
					<p class="text-warning" align="center"><small>Usted no ha recibido ninguna solicitud de modificacion de Item</small></p>
				</div>
			</div>
		{% endif %}
		
</div>
{% endblock %}
