{% extends "base.html" %}
{% block titulo %}Registro de Usuario{% endblock %}

{% block contenido %}
	<h1 align="center">Registro de Usuario</h1>
	{% if mensaje %}
		<div class="jumbotron">
			<div class="bs-example">
				<p class="text-warning" align="center"><small>{{ mensaje }}</small></p>
			</div>
		</div>
	{% endif %}
	<div class="jumbotron boxlogin">
		<form method="POST" name="flogin" id="flogin">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" class="btn btn-success" value="Ingresar">
		</form>
	</div> 
{% endblock %}
