{% extends "base.html" %}
{% block titulo %}Registro de Usuario{% endblock %}

{% block contenido %}
	<h1 align="center">Registro de Usuario</h1>
	{% if user.is_authenticated %}
		<meta http-equiv="refresh" content="0;URL=/inicio/">
	{% else %}
		{% if form.errors %}
			<p class="error">Disculpa, el nombre de usuario o contraseña no coinciden.</p>
		{% endif %}
		<div class="jumbotron boxlogin">
			<form method="POST" name="flogin" id="flogin">{% csrf_token %}
				<label>Nombre de Usuario:</label>
				<input type="text" name="username" id="username" class="form-control">
				<label>Contraseña:</label>
				<input name="password" type="password" id="password" class="form-control">
				<input type="submit" class="btn btn-success" value="Ingresar">
				</form>
		</div>
     {% endif %}  
{% endblock %}