{% extends "base_general.html" %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Modificar Rol</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	{% if form.errors %}
		Por favor verifique: 
	{% endif %}
	
	<form action="" method="post">
		<table>
		<tbody>
			<tr>
				{{ form.Nombre_de_Rol.errors }}
				<th>{{ form.Nombre_de_Rol.label_tag }} </th><td> {{ form.Nombre_de_Rol }} {{ form.Nombre_de_Rol.help_text }}</td>
			</tr>
			<tr>
				<th>{{ form.Permisos.label_tag }} </th>
				<td>
				<ul>
				{% for codigo, nombre in permisos %}
						{% if codigo in marcados %}
							<li><input type="checkbox" name="Permisos" value="{{ codigo }}" checked />{{ nombre }}</li>
						{% else %}
							<li><input type="checkbox" name="Permisos" value="{{ codigo }}" />{{ nombre }}</li>
						{% endif %}
				{% endfor %}
				</ul>
				 {{ form.Permisos.help_text }}
				</td>
			</tr>
			<tr>
				{{ form.Descripcion.errors }}
				<th> {{ Descripcion.label_tag }} </th><td> {{ form.Descripcion }} {{ form.Descripcion.help_text }}</td>
			</tr>
		</tbody>
		</table>
		{% csrf_token %}
	<div align="center">
		<input class="btn btn-default" type="submit" value="Guardar"/>
		<a href="/adm_roles/"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}