{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_roles/">Roles</a></li>
			<li class="active"><a href="/adm_roles/nuevo/">Creación de Rol</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Crear Rol</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	{% if form.errors %}
		<p style="color:red;">Por favor verifique:</p>
	{% endif %}
	
	<form action="" method="post">
		<table align="center">
			<div class="field">
            {{ form.Nombre_de_Rol.errors }}
	            <tr> 
		            <th><label for="id_Nombre_de_Rol">Nombre de Rol:</label></th>
		            <td>{{ form.Nombre_de_Rol }}</td>
	            </tr>
        	</div>
        	<div class="field">
            {{ form.Permisos.errors }}
	            <tr>
		            <th><label for="id_Permisos">Permisos:</label></th>
		            <td>
						<p style="color:white;"><input type="checkbox" onclick="marcar_permisos(this);"/> Seleccionar Todos</p>
		            {% for id,permiso in permisos  %}
		            	{% if forloop.counter <= 5 %}
		            		{% if forloop.counter == 1 %}
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Fases</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
							 
						{% elif forloop.counter <= 10 %}
							{% if forloop.counter == 6 %}
							  </div>
							 </div>
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Proyectos</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
						{% elif forloop.counter <= 17 %}
							{% if forloop.counter == 11 %}
							  </div>
							 </div>
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Roles</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
						{% elif forloop.counter <= 22 %}
							{% if forloop.counter == 18 %}
							  </div>
							 </div>
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Tipo de Atributo</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
						{% elif forloop.counter <= 26 %}
							{% if forloop.counter == 23 %}
							  </div>
							 </div>
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Usuarios</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
						{% elif forloop.counter <= 35 %}
							{% if forloop.counter == 27 %}
							  </div>
							 </div>
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Items</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
						{% elif forloop.counter <= 41 %}
							{% if forloop.counter == 36 %}
							  </div>
							 </div>
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Linea Base</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
						{% elif forloop.counter >= 57 %}
							{% if forloop.counter == 57 %}
							  </div>
							 </div>
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Tipo de Atributo</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
						{% else %}
							{% if forloop.counter == 42 %}
							  </div>
							 </div>
			            	 <div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Otros</h3>
							  </div>
							  <div class="panel-body">
							 {% endif %}
							    <li><input type="checkbox" name="Permisos" value="{{ id }}" />{{ permiso }}</li>
						{% endif %}
					{% endfor %}
							</div>
							 </div>
		            </td>
		            *
	            </tr>
        	</div>
        	<div class="field">
            {{ form.Proyecto.errors }}
	            <tr>
		            <th><label for="id_Proyecto">Proyecto:</label></th>
		            <td>{{ form.Proyecto }}</td>
	            </tr>
        	</div>
        	<div class="field">
            {{ form.Descripcion.errors }}
	            <tr>
		            <th><label for="id_Descripcion">Descripcion:</label></th>
		            <td>{{ form.Descripcion }}</td>
	            </tr>
        	</div>
		</table>
		{% csrf_token %}
	<div align="center"><br>
		<input class="btn btn-default" type="submit" value="Crear"/>
		<a href="/adm_roles/"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}
