{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/">Modificación de Fase</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/informes/acercade/">Acerca de</a></li>
			{% if user.id == 1 %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				   	<li><a href="/logs/hoy/">Hoy</a><li>
                    <li><a href="/logs/ayer/">Ayer</a></li>
                    <li><a href="/logs/semana1/">Una semana</a></li>
                    <li><a href="/logs/semana2/">Dos semanas</a></li>
                    <li><a href="/logs/mas/">mas...</a></li>
				</ul>
			</li>
            {% endif %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Modificar {{ fase.nombre }}</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<div class="container">
		<div class="row">
			<form action="" method="post">{% csrf_token %}
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
				
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					{% if form.errors %}
						<font color="red"><h4><p align="center"><b>Por favor verifique:</b></p></h4></font>
					{% endif %}
					{% if mensaje %}
						<font color="red"><h4><p align="center"><b>Por favor verifique:</b></p></h4></font>
						<h6><li align="center"><b>{{ mensaje }}</b></li></h6>
					{% endif %}
					<table class="table table-hover table-bordered table-condensed table-responsive">
						{{ form.as_table }}
					</table>
					<div align="center"><br>
						<input class="btn btn-default" type="submit" value="Guardar Cambios"/>
						<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</button></a>
					</div>
				</div>
				
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}