{% extends "base_general.html" %}

{% block tipo_Item_y_Atributo %}
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_item/">Administrar Tipos de Item</a></li>
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_atributo">Administrar Tipos de Atributo</a></li>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/">Ordenar Fases - {{ proyecto.nombre }}</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="container">
	<div class="col-xs-6 col-sm-6 col-md-6 col lg-6">
		{{ mensaje }}
		{% if lista_fases %}
		<div class="alert alert-success"><h3><p align="center"><b>Fases Creadas</b></p></h3></div>
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					
						<div class="col-md-6 col lg-6">
							<div class="panel-heading">
								<h4 class="panel-title"><b>Nombre</b></h4>
							</div>
						</div>
				</div>
				{% for fase in lista_fases %}
					<div class="panel panel-default">
					
						<div class="col-md-6 col lg-6">
							<div class="panel-heading">
								<h4 class="panel-title">{{ fase.nombre }}</h4>
							</div>
						</div>
								 
						<div class="col-md-6 col lg-6">
							<a href="subir_fase/{{ fase.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-up"></span> Subir</button></a>
							<a href="bajar_fase/{{ fase.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-down"></span> Bajar</button></a>
						</div>
								 
					</div>
				{% endfor %}
			</div>
		{% else %}
			<br><br><br>
			<div class="jumbotron">
				<div class="bs-example">
						<p class="text-warning" align="center"><small>No hay Fases creadas en el Proyecto</small></p>
				</div>
			</div> 
		{% endif %}    
    </div>
</div>
<div class="row ">
    	<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Listo </button></a>
</div>
{% endblock %}