html{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #999;
} 
.boxlogin{
	border-radius: 4px;
	box-shadow: 0px 2px 10px #d6d6d6;
	margin: 60px auto;
	width: 320px;
	--webki-border-radius: 4px;
	-moz-border-radius: 4px;

}

input[type="submit"]{
	margin-top: 14px;
}

.error{
	text-align: center;
	font-size: 20px;
	color: red;
}