{% extends "base_general.html" %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/">Proyectos</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
		{% if lista_valores %}
		<form action="" method="post">
			<div class="panel-group" id="accordion">
				<table align="center">
			{% for valores in lista_valores %}
				<tr>
					<td>{{ valores.nombre_atributo }} :  </td>
					{% ifequal valores.tipo_dato "Fecha" %}
						<td>{{ valores.valor_fecha }}
						</td>
					{% endifequal %}
					{% ifequal valores.tipo_dato "Logico" %}
						{% ifequal valores.valor_logico True %}
						<td> Si
						</td>
						{% else %}
						<td> No
						</td>
						{% endifequal %}
					{% endifequal %}
					{% ifequal valores.tipo_dato "Arvhivo Externo" %}
						<td>{{ valores.valor_archivoexterno }}
						</td>
					{% endifequal %}
					{% ifequal valores.tipo_dato "Numerico" %}
						<td>{{ valores.valor_numerico }}
						</td>
					{% endifequal %}
					{% ifequal valores.tipo_dato "Texto" %}
				    	<td>{{ valores.valor_texto }}
				    	</td>
				    {% endifequal %}
				</tr>
			{% endfor %}
		</table>
					{% csrf_token %}
					<div  align="center">
						<a type="button" class="btn btn-default" href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/consultar/{{ id_item }}/">Atras</a>
						<a type="button" class="btn btn-default" href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/"> OK</a>						
					</div>
		</div>
		</form>
		{% else %}
			{% if error %}
				<div class="jumbotron">
  					<div class="alert alert-danger"><h3><p align="center"><b>No se encontraron coincidencias</b></p></h3></div>
				</div>
				<div  align="center">
					<a type="button" class="btn btn-default" href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/">Volver</a>
				</div>	
			{% else %}
				<div class="jumbotron">
					<div class="bs-example">
						<p class="text-warning" align="center"><small>No se encontraron Items</small></p>
					</div>
				</div>
			{% endif %}}
		{% endif %}

</div>
{% endblock %}
