{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/">Gestión de {{ fase.nombre }}</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/informes/acercade/">Acerca de</a></li>
			{% if user.id == 1 %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				   	<li><a href="/logs/hoy/">Hoy</a><li>
                    <li><a href="/logs/ayer/">Ayer</a></li>
                    <li><a href="/logs/semana1/">Una semana</a></li>
                    <li><a href="/logs/semana2/">Dos semanas</a></li>
                    <li><a href="/logs/mas/">mas...</a></li>
				</ul>
			</li>
            {% endif %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block tipo_Item_y_Atributo %}
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_item/">Administrar Tipos de Item</a></li>
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_atributo">Administrar Tipos de Atributo</a></li>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Items</a>
		</li>
		<li id="option2">
		 	<a href="adm_lineas_base/">Lineas Base</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->

		<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
				    	<div class="col-md-4">
				   			<div class="panel-heading">
				      			<h4 class="panel-title"><b>Impacto Monetario</b></h4>
				    		</div>
				    	</div>				    
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Impacto Temporal</b></h4>
				    		</div>
				    	</div>
				    </div>
				</div>
				<div class="panel panel-default">
					<div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				          		{{ impacto_monetario }}
				      		</h4>
				    	</div>
				    </div>				    
				    <div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				          		{{ impacto_temporal }}
				      		</h4>
				    	</div>
				    </div>
				 </div>
			</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel-heading">
                        {% if ruta_grafo %}
                            <img src="{{ MEDIA_URL }}imagenes/{{ ruta_grafo }}">
                        {% endif %}
                    </div>
                </div>
            </div>
		</div>

		{% if items_afectados %}
		<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
				    	<div class="col-md-4">
				   			<div class="panel-heading">
				      			<h4 class="panel-title"><b>Items Afectados (Nombre)</b></h4>
				    		</div>
				    	</div>				    
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Fase</b></h4>
				    		</div>
				    	</div>
				    </div>
				</div>
				{% for item_afectado in items_afectados %}
				<div class="panel panel-default">
					<div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				          		{{ item_afectado.nombre }}
				      		</h4>
				    	</div>
				    </div>				    
				    <div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				          		{{ item_afectado.fase_id.nombre }}
				      		</h4>
				    	</div>
				    </div>
				 </div>
				 {% endfor %}
			</div>
		</div>
		{% else %}
		<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="col-md-4">
						<div class="panel-heading">
						<div  align="center">
							<h4 class="panel-title"><b>El item no posee hijos/sucesores</b></h4>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		{% endif %}

		<div  align="center">
			<a type="button" class="btn btn-default" href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}">Volver</a>
		</div>

{% endblock %}