{% extends "base_general.html" %}

{% block tipo_Item_y_Atributo %}
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_item/">Administrar Tipos de Item</a></li>
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_atributo">Administrar Tipos de Atributo</a></li>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/">Crear Item</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	{% if form.errors %}
		Por favor verifique:error
	{% endif %}
	<div class="bs-example">
			<h3><p align="center" class="text-warning"><small>{{ mensaje }}</small></p></h3>
	</div>
	<form action="" method="post">
		<table align="center">
			{{ form.as_table }}
		</table>
		{% csrf_token %}
		
	<div align="center"><br>
		<input class="btn btn-default" type="submit" value="Crear"/>
		<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}
