{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/">Gestión de {{ fase.nombre }}</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/versiones/{{ id_item }}/">Versiones de Item</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/informes/acercade/">Acerca de</a></li>
			{% if user.id == 1 %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				   	<li><a href="/logs/hoy/">Hoy</a><li>
                    <li><a href="/logs/ayer/">Ayer</a></li>
                    <li><a href="/logs/semana1/">Una semana</a></li>
                    <li><a href="/logs/semana2/">Dos semanas</a></li>
                    <li><a href="/logs/mas/">mas...</a></li>
				</ul>
			</li>
            {% endif %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}
<div class="menu">
	<ul>
	<li id="option1" class="active">
		<a href="#">{{ item.nombre }} </a>
	</li>
	</ul>
</div>
{% endblock %}


{% block contenido %}
<div class="content-secondary">
<!-- Aca van la lista de Proyectos.. o de Solicitudes.. o de credenciales -->
{% if lista_versiones %}
   <div class="alert alert-info"><h2><p align="center"><b>Versiones Anteriores</p></h2></div>
		<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
						<div class="col-md-4">
							<div class="panel-heading">
								<h4 class="panel-title"><b>Version</b></h4>
							</div>
						</div>
					</div>
				</div>
				{% for version in lista_versiones %}
					<div class="panel panel-default">
						<div class="col-md-4">
							<div class="panel-heading">
								<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ version }}">
									{{ version }}
								</a>
								</h4>
							</div>
						</div>

						<div id="collapse{{ version }}" class="panel-collapse collapse pull-left">
							<div class="panel-body">
								<a href="version/{{ version }}/"><button type="button" class="btn btn-default btn-sm">Consultar</button></a>
								<a href="revertir/{{ version }}/"><button type="button" class="btn btn-default btn-sm">Revertir</button></a>
							</div>
						</div>
					</div>
				{% endfor %}
				<div align="center"><br>
					<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</button></a>
				</div>
			</div>
		</div>
		{% else %}
			<div class="jumbotron">
				<div class="bs-example">
					<p class="text-warning" align="center"><small>El item se encuentra en la primera version.</small></p>
				</div>
			</div>
		{% endif %}
</div>
{% endblock %}