{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_roles/">Roles</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/comite/">Usuarios para Comite</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Usuarios de Comite</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">

		{{ mensaje }}
	
	<form action="" method="post">
		<table>
		<tbody>
			<tr>
				<td>
				<ul>
				{% for usuario in listamiembros %}
						{% if usuario.id in miembros_id %}
							<li><input type="checkbox" name="Miembro" value="{{ usuario.id }}" checked />{{ usuario.username }}</li>
						{% else %}
							<li><input type="checkbox" name="Miembro" value="{{ usuario.id }}" />{{ usuario.username }}</li>
						{% endif %}
				{% endfor %}
				</ul>
				</td>
			</tr>
		</tbody>
		</table>
		{% csrf_token %}
	<div align="center">
		<input class="btn btn-default" type="submit" value="Guardar"/>
		<a href="/adm_roles/"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}