{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/">Gestión de {{ fase.nombre }}</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/atributos/{{ id_item }}/">Atributos de Item</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}


{% block tipo_Item_y_Atributo %}
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_item/">Administrar Tipos de Item</a></li>
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_atributo">Administrar Tipos de Atributo</a></li>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/"><p>Atributos de</p> {{ itemactual.nombre }}</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">
	<form class="navbar-form navbar-left">
<!-- 		<a href="#"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-import"></span> Importar Fase</button></a>-->
	</form>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">


{% if lista_error %}
<div class="row">
    <div class="panel panel-danger">
    	<div class="panel-heading">
    		<h3 class="panel-title">Por favor verifique:</h3>
        </div>
        <div class="panel-body">
        <br>
        <ul class="list-unstyled">
           {% for campo, mensaje in lista_error %}
		<ul>
			<li><b>{{campo}}</b></li>
			{{ mensaje }}
		</ul>
  			{% endfor %}
		</ul>
        </div>
       	</div>
</div>
{% endif %}

<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
		{% if lista_valores %}

		<form enctype="multipart/form-data" action="" method="post">
			<div class="panel-group" id="accordion">
				<table align="center">
			{% for valores in lista_valores %}
				<tr>
					{% for orden, nombre, longitud, precision, maxvalue, minvalue, oblig in listaPresicionLongitud %}
							{% if valores.nombre_atributo == nombre and valores.orden == orden %}
								{% if oblig == True %}
									<td><th><label>{{ valores.nombre_atributo }} *:</label></th></td>
								{% else %}
									<td><th><label>{{ valores.nombre_atributo }}:</label></th></td>
								{% endif %}
							{% endif %}
					{% endfor %}
					{% ifequal valores.tipo_dato "Fecha" %}
						<td><input type="date" name={{forloop.counter}} class="form-control" value="{{ valores.valor_fecha }}" /> En formato Día/Mes/Año
						</td>
					{% endifequal %}
					{% ifequal valores.tipo_dato "Logico" %}
						{% ifequal valores.valor_logico True %}

						<td> Si<input type="radio" name="{{ forloop.counter }}" value="True" checked="checked" >
						 No<input type="radio" name="{{ forloop.counter }}" value="False" > 

						</td>
						{% else %}
						<td> Si<input type="radio" name="{{ forloop.counter }}" value="True" >
						 No<input type="radio" name="{{ forloop.counter }}" value="False" checked="checked" > 
						</td>
						{% endifequal %}
					{% endifequal %}
					{% ifequal valores.tipo_dato "Archivo Externo" %}
						{% ifequal valores.valor_archivoexterno "" %}
							<td><input type="file" name="{{ forloop.counter }}" value="{{ valores.valor_archivoexterno }}" />
							</td>
						{% else %}
							<td><input type="file" name="{{ forloop.counter }}" value="{{ valores.valor_archivoexterno }}" />
							</td>
							<td><a href="{{ setting.MEDIA_URL }}{{ valores.valor_archivoexterno.url }}" name="{{ forloop.counter }}"> {{ valores.valor_archivoexterno.name }}</a>
							</td>
						{% endifequal %}
					{% endifequal %}
					{% ifequal valores.tipo_dato "Imagen" %}
						{% ifequal valores.valor_imagen "" %}
							<td><input type="file" name="{{ forloop.counter }}" value="{{ valores.valor_imagen }}" />
							</td>
						{% else %}
							<td><input type="file" name="{{ forloop.counter }}" value="{{ valores.valor_imagen }}" />
							</td>
							<td><a href="{{ setting.MEDIA_URL }}{{ valores.valor_imagen.url }}" name="{{ forloop.counter }}"><img src="{{ setting.MEDIA_URL }}{{ valores.valor_imagen.url }}" width="400" height="400"></a>
							</td>
						{% endifequal %}
					{% endifequal %}	
					{% ifequal valores.tipo_dato "Numerico" %}
					{% for orden, nombre, longitud, precision, maxvalue, minvalue, oblig in listaPresicionLongitud %}
							{% if valores.nombre_atributo == nombre and valores.orden == orden %}
						<td><input type="number" step="any" max="{{ maxvalue }}" min="{{ minvalue }}" name="{{forloop.counter}}" class="form-control" value="{{ valores.valor_texto }}"/>
						</td>
						{% endif %}
				    {% endfor %}
					{% endifequal %}
					{% ifequal valores.tipo_dato "Texto" %}
						{% for orden, nombre, longitud, precision, maxvalue, minvalue, oblig in listaPresicionLongitud %}
							{% if valores.nombre_atributo == nombre and valores.orden == orden %}
								
				    	<td>
				    		<textarea class="form-control" maxlength="{{ longitud }}" name="{{forloop.counter}}" rows="5" value="{{ valores.valor_texto }}">{{ form.data.Descripcion }}</textarea>
				    	</td>
				    	{% endif %}
				    {% endfor %}
				    {% endifequal %}
				</tr>
			{% endfor %}
		</table>
					{% csrf_token %}
					<input action="adm_proyectos/gestionar/{{ id_proyecto }}/adm_items/{{ id_fase }}/atributos/" class="btn btn-default" type="submit" value="Guardar Cambios"/>
		
		</form>
		{% endif %}

</div>
{% endblock %}
