{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_roles/">Roles</a></li>
			<li class="active"><a href="/adm_roles/asignar/{{ id_rol }}/">Asignación de Rol</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Asignar Rol</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	{% if form.errors %}
		<ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul> 
	{% endif %}
	<br>
	<br>
	<form action="" method="post">
		<p>Usuarios: 
        <select id="id_usuario" name="Usuario">
        	{% for usuario in usuarios %}
        		<option value="{{ usuario.username }}">{{ usuario.username }}</option>
        	{% endfor %}
		</select>
		</p>
		{% csrf_token %}
	<div align="center">
		<input class="btn btn-default" type="submit" value="Guardar"/>
		<a href="/adm_roles/"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}