{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li class="active"><a href="/adm_proyectos/importar_proyecto/importar/{{ proyecto.id }}/">Importación de Proyecto</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="/informes/acercade/">Acerca de</a></li>
			{% if user.id == 1 %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				   	<li><a href="/logs/hoy/">Hoy</a><li>
                    <li><a href="/logs/ayer/">Ayer</a></li>
                    <li><a href="/logs/semana1/">Una semana</a></li>
                    <li><a href="/logs/semana2/">Dos semanas</a></li>
                    <li><a href="/logs/mas/">mas...</a></li>
				</ul>
			</li>
            {% endif %}
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Importar {{ proyecto.nombre }}</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			</div>
				
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<form action="" method="post">{% csrf_token %}				
					<table class="table table-hover table-bordered table-condensed table-responsive">
						<tr><th><label for="id_Nombre_del_Proyecto"><h4><b>Nombre del proyecto *:</b></h4></label></th>
						<td>
							{% if form.Nombre_del_Proyecto.errors %}
							<div class="form-group has-error">
								  <label class="control-label" for="inputError1">{{ form.Nombre_del_Proyecto.errors }}</label>
								  <input id="id_Nombre_del_Proyecto" maxlength="30" name="Nombre_del_Proyecto" type="text" class="form-control" value="{{ form.data.Nombre_del_Proyecto }}" /><br />
								  
							</div>
							{% else %}
							
								<input id="id_Nombre_del_Proyecto" maxlength="30" name="Nombre_del_Proyecto" type="text" class="form-control" value="{{ form.data.Nombre_del_Proyecto }}" /><br />
							{% endif %}
							
						</td></tr>
						
						<tr><th><label for="id_Fecha_de_Inicio"><h4><b>Fecha de inicio *:</b></h4></label></th>
						<td>
							{% if form.Fecha_de_Inicio.errors %}
							<div class="form-group has-error">
								  <label class="control-label" for="inputError1">{{ form.Fecha_de_Inicio.errors }}</label>
								 <input class="vDateField" id="id_Fecha_de_Inicio" name="Fecha_de_Inicio" size="10" type="date" class="form-control" value="{{ form.data.Fecha_de_Inicio }}" /><br /><span class="helptext"> Ingrese en formato Dia/Des/año</span>
								  
							</div>
							{% else %}
							
								<input class="vDateField" id="id_Fecha_de_Inicio" name="Fecha_de_Inicio" size="10" type="date" class="form-control" value="{{ form.data.Fecha_de_Inicio }}" /><br /><span class="helptext"> Ingrese en formato Dia/Des/año</span>
							{% endif %}
						</td></tr>
						
						<tr><th><label for="id_Duracion"><h4><b>Duracion *:</b></h4></label></th>
						<td>
							{% if form.Duracion.errors %}
							<div class="form-group has-error">
								  <label class="control-label" for="inputError1">{{ form.Duracion.errors }}</label>
								 <input id="id_Duracion" name="Duracion" type="number" class="form-control" value="{{ form.data.Duracion }}" /><br /><span class="helptext">* En semanas</span>
								  
							</div>
							{% else %}
							
								<input id="id_Duracion" name="Duracion" type="number" class="form-control" value="{{ form.data.Duracion }}" /><br /><span class="helptext">* En semanas</span>
							{% endif %}
							
						</td></tr>
					</table>
					<div align="center"><br>
						<input class="btn btn-default" type="submit" value="Importar Proyecto"/>
						<a href="/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</button></a>
					</div>
				</form>
			</div>
				
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			</div>
		</div>
	</div>
</div>
{% endblock %}