{% extends "base_general.html" %}

{% block tipo_Item_y_Atributo %}
<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_tipos_item/">Administrar Tipos de Item</a></li>
<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_tipos_atributo">Administrar Tipos de Atributo</a></li>
{% endblock %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/">Gestión de {{ fase.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/adm_lineas_base/">Lineas Base</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/adm_lineas_base/consultar/{{ lineabase.id }}/">Consulta de Linea Base</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Linea Base <p>{{ lineabase.numero }}</p></a>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<div class="container">
		<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
				
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<table class="table table-hover table-bordered table-condensed table-responsive">
						<tbody>
						  	<!-- Aplicadas en las filas -->
						  	<tr class="active">
						  		<td><p><h4>ID:</h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ lineabase.id }}</span></h4></h4></p></td>
							</tr>
						  	<tr class="active">
						  		<td><p><h4>Numero:</h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ lineabase.numero }}</span></h4></h4></p></td>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4>Descripcion:</h4></p></td>
						  		<td><p><h4><span class="label label-default">{{ lineabase.descripcion }}</span></h4></h4></p></td>
						  	</tr>
						  	<br>
						</tbody>	
					</table>
					
					{% if items %}
					<table class="table table-hover table-bordered table-condensed table-responsive">
						<tbody>
							<tr class="active">
						  		<p><h2><span class="label label-default">Items</span></h2></h4></p>
						  	</tr>
						  	<tr class="active">
						  		<td><p><h4><b>Nombre del Item</b></h4></p></td>
						  		<td><p><h4><b>Descripcion</b></h4></p></td>
						  		<td><p><h4><b>Consulta</b></h4></p></td>
						  	</tr>
						  	
						  	{% for item in items %}
								<tr class="active">
									<td><p><h4>{{ item.nombre }}</h4></p></td>
									<td><p><h4>{{ item.descripcion }}</h4></p></td>
									<td><p><h4><a href="/adm_proyectos/gestionar/{{ item.proyecto.id }}/adm_items/{{ item.fase.id }}/consultar/{{ item.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Consultar</button></a></h4></p></td>
								</tr>
							{% endfor %}
						<tbody>
					</table>
					{% endif %}
					<div align="center">
						<a class="btn btn-default" href="javascript:window.history.back();"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
						<a class="btn btn-default" href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/adm_lineas_base/informe_lineabase/{{ lineabase.id }}/"><span class="glyphicon glyphicon-tasks"></span> Informe</a>
					</div>
				</div>
				
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				</div>
		</div>
	</div>
</div>

{% endblock %}


