{% extends "base_general.html" %}


{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Crear Linea Base</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	{% if errors %}
		Por favor verifique:
		{% for error in erros %}
			<p style="color:red;"> {{ error }}</p>
		{% endfor %}
	{% endif %}

	<form action="" method="post">
		<table>
		<tbody>
			<tr>
				<th> Numero: </th><td> {{ numero }}</td>
			</tr>
			<tr>
				<th> Descripcion: </th><td><textarea name="Descripcion" rows="10" cols="50"></textarea></td>
			</tr>
			<tr>
				<th> Items: </th>
				<td>
				<ul>
					<li><input type="checkbox" onclick="selectall(this);"/> Seleccionar Todos</li>
				{% for id, nombre in items %}
						{% if forloop.counter == 7 or forloop.counter == 14 %}
							</ul>
							</td>
							<td>
							<ul>
								<li><input type="checkbox" name="Items" value="{{ id }}" />{{ nombre }}</li>
						{% else %}
							<li><input type="checkbox" name="Items" value="{{ id }}" />{{ nombre }}</li>
						{% endif %}
							
				{% endfor %}
				</ul>
				</td>
			</tr>
		</tbody>
		</table>
		{% csrf_token %}
	<div align="center">
		<input class="btn btn-default" type="submit" value="Guardar"/>
		<a class="btn btn-default" href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
	</div>
	<br>
	</form>

</div>
{% endblock %}