{% extends "base_general.html" %}

{% block tipo_Item_y_Atributo %}
<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_tipos_item/">Administrar Tipos de Item</a></li>
<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_tipos_atributo">Administrar Tipos de Atributo</a></li>
{% endblock %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/">Gestión de {{ fase.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/adm_lineas_base/">Lineas Base</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_items/{{ fase.id }}/adm_lineas_base/nuevo/">Creación de Linea Base</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Crear Linea Base</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	{% if errors %}
		Por favor verifique:
		{% for error in erros %}
			<p style="color:red;"> {{ error }}</p>
		{% endfor %}
	{% endif %}
	
	{% if items %}
	<form action="" method="post">
		<table>
		<tbody>
			<tr>
				<th> Numero: </th><td> {{ numero }}</td>
			</tr>
			<tr>
				<th> Descripcion: </th><td><textarea name="Descripcion" rows="10" cols="50"></textarea></td>
			</tr>
			<tr>
				<th> Items: </th>
				<td>
				<ul>
					<li><input type="checkbox" onclick="marcar(this);"/> Seleccionar Todos</li>
				{% for id, nombre in items %}
						{% if forloop.counter == 7 or forloop.counter == 14 %}
							</ul>
							</td>
							<td>
							<ul>
								<li><input type="checkbox" name="Items" value="{{ id }}" />{{ nombre }}</li>
						{% else %}
							<li><input type="checkbox" name="Items" value="{{ id }}" />{{ nombre }}</li>
						{% endif %}
							
				{% endfor %}
				</ul>
				</td>
			</tr>
		</tbody>
		</table>
		{% csrf_token %}
	<div align="center">
		<input class="btn btn-default" type="submit" value="Guardar"/>
		<a class="btn btn-default" href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
	</div>
	<br>
	</form>
	{% endif %}
	
	{% if lineasbase %}
	<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Numero de Linea Base</b></h4>
				    		</div>
				    	</div>
				    	
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Descripcion</b></h4>
				    		</div>
				    	</div>
				    </div>
				</div>
			{% for linea_base in lineasbase %}
				<div class="panel panel-default">
					<div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ linea_base.id }}">
				          	 	{{ linea_base.numero }}
				        		</a>
				      		</h4>
				    	</div>
				  	</div>
				  	
				  	<div class="col-md-8">
				  		<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ linea_base.id }}">
				          	 	{{ linea_base.descripcion }}
				        		</a>
				      		</h4>
				    	</div>
				  	</div>
				  
				    <div id="collapse{{ linea_base.id }}" class="panel-collapse collapse pull-left">
				      <div class="panel-body">
				      	<a href="consultar/{{ linea_base.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Consultar</button></a>
				      	<a href="reactivar_lineabase/{{ linea_base.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-tasks"></span> Reactivar</button></a>
				      </div>
				    </div>
				</div>
				
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
</div>
{% endblock %}