<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Informe de Linea Base</title>
<style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 2cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 10cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
        </style>
</head>
<body>
<div>
    <h2></h2>
    <div>
    	<p>{{ fecha }}</p>
        <h1>{{ lineabase.numero }}</h1>
    	<p>{{ lineabase.descripcion }}</p>
    </div>
</div>
<div id="footerContent">
	Pagina <pdf:pagenumber>    
</div>
</body>
</html>