<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Informe de Linea Base</title>
<style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 2cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 10cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
        </style>
</head>
<body>
<div>
    <h2></h2>
    <div>
    	<strong><p align="right">{{ fecha }}</p></strong>
    	<h1 align="center">Informe de Linea Base</h1>
        <h2 align="left">Linea Base Numero: {{ lineabase.numero }}</h2>
    	<p><big><b>Descripcion: </b> {{ lineabase.descripcion }}</big></p>
    	<p align="center"><big><b>Items Relacionados</b></big></p><br>
    	
    	<div style="text-align:center;">
    		<table border="1" style=" margin: 1px; padding: 1px;">
						<tbody>
						  	<tr class="active">
						  		<td><p><h2><b>Nombre del Item</b></h2></p></td>
						  		<td><p><h2><b>Descripcion</b></h2></p></td>
						  		<td><p><h2><b>Estado</b></h2></p></td>
						  	</tr>
						  	
						  	{% for item in items %}
								<tr class="active">
									<td><p><big>{{ item.nombre }}</big></p></td>
									<td><p><big>{{ item.descripcion }}</big></p></td>
									<td><p><big>{{ item.estado }}</big></p></td>
								</tr>
							{% endfor %}
						<tbody>
					</table>
					</div>
    </div>
</div>
<div id="footerContent">
	<big>Pagina <pdf:pagenumber></big>
</div>
</body>
</html>