<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<!-- Inicio de la cabecera -->
	<head>
		<title>Sistema de Administracion de Proyectos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <link href="{{STATIC_URL}}aplicaciones/img/favicon.ico" type="image/x-icon" rel="shortcut icon" />
        <!-- Bootstrap -->
        <link href="{{STATIC_URL}}aplicaciones/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{STATIC_URL}}aplicaciones/css/main.css" rel="stylesheet" media="screen">
        <!-- Nuestro estilo -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>
		<!-- Bootstrap JS -->
		<script type="text/javascript" src="{{STATIC_URL}}aplicaciones/js/jquery.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}aplicaciones/js/bootstrap.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}aplicaciones/js/main.js"></script>
		<script type="text/javascript" src="/admin/jsi18n/"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
		<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

	</head>
	<!-- Fin de la cabecera -->
	
	<body>
		<!-- Comienzo del banner -->
		<div class="container-fluid">
			<div class="row">
			  <div class="col-md-8"><h3>{{ user.username | capfirst }}</h3></div>
			  <div class="col-md-4"><a href="/cerrar/"><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesion</button></a></div>
			</div>
			<div class="row">
			  <div class="col-md-9 col-md-offset-1">
				<h1>Sistema de Administracion de Proyectos</h1>
				</div>
				</div>
				<div class="row">
				  <div class="col-md-6">
					<br>
					  <a href="/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Inicio</button></a><!-- Boton de Inicio -->
					  <div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><!-- Boton de Configuracion -->
						  <span class="glyphicon glyphicon-cog"></span> Configuracion
						</button>
						<ul class="dropdown-menu">
						  <li><a href="/adm_usuarios">Administrar Usuarios</a></li>
						  <li><a href="/adm_roles">Administrar Roles</a></li>
						  {% block tipo_Item_y_Atributo %}{% endblock %}
						</ul>
					  </div>
				  </div>
				</div>
			  </div>
			</div>
		</div>
		
		<!-- Fin del banner -->
		<div class="wrapper">
		{% block menu %}{% endblock %}
		{% block botones %}{% endblock %}
		{% block contenido  %}{% endblock %}
		</div>
		
		<!-- Comienzo del pie de pagina -->
		<footer class='centrar'>
		<br><span>Grupo R11</span><br>
			<span>Facultad Politecnica - Universidad Nacional de Asuncion</span><br>
			<span>2014</span>
		</footer>
	</body>
</html>




