{% extends "base_general.html" %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/">Proyectos</a>
		</li>
		<li id="option2" >
			<a href="#">Solicitudes</a>
		</li>
		<li id="option3">
		 	<a href="#">Credenciales</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">
	<form class="navbar-form navbar-left">
		<a href="crear/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-folder-open"></span> Crear Proyecto</button></a>
		<a href="importar_proyecto/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-import"></span> Importar Proyecto</button></a>
		<a href="proyecto_finalizado/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok-circle"></span> Proyectos Finalizados</button></a>
		<div class="form-group">
			<form action="" method="get">
				<input type="text" name="busqueda" class="btn btn-default" placeholder="Busqueda de proyecto..." value="{{ query|escape }}">
				<span class="glyphicon glyphicon-search"></span>
				<input class="btn btn-default" type="submit" value="Buscar Proyectos">
			</form>
		</div>
	</form>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
		{% if lista_proyectos %}
		<div class="row ">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="row">
				    	<div class="col-md-4">
				   			<div class="panel-heading">
				      			<h4 class="panel-title"><b>Nombre</b></h4>
				    		</div>
				    	</div>
				    
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Lider</b></h4>
				    		</div>
				    	</div>
				    
				    	<div class="col-md-4">
				    		<div class="panel-heading">
				      			<h4 class="panel-title"><b>Estado</b></h4>
				    		</div>
				    	</div>
				    </div>
				</div>
			{% for proyecto in lista_proyectos %}
				<div class="panel panel-default">
					<div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ proyecto.id }}">
				          		{{ proyecto.nombre }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    <div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ proyecto.id }}">
				          		{{ proyecto.lider }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    <div class="col-md-4">
				    	<div class="panel-heading">
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ proyecto.id }}">
				          		{{ proyecto.estado }}
				        		</a>
				      		</h4>
				    	</div>
				    </div>
				    
				    <div id="collapse{{ proyecto.id }}" class="panel-collapse collapse pull-left">
				      <div class="panel-body">
				      		<a href="consultar/{{ proyecto.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Consultar</button></a>
				      		<a href="listar_miembros/{{ proyecto.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-list-alt"></span> Listar Miembros</button></a>
				      		<a href="modificar/{{ proyecto.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Modificar</button></a>
				      		<button class="btn btn-danger btn-sm proyectos" data-toggle="modal" data-target="#myModal" data-id="{{ proyecto.id }}"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
				      		<a href="gestionar/{{ proyecto.id }}/"><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-th"></span> Gestionar Proyecto</button></a>
				      </div>
				    </div>
				</div>
			{% endfor %}
		</div>
		</div>
		{% else %}
			{% if error %}
				<div class="jumbotron">
  					<div class="alert alert-danger"><h3><p align="center"><b>No se encontraron coincidencias</b></p></h3></div>
				</div>
				<div  align="center">
					<a type="button" class="btn btn-default" href="/"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
				</div>	
			{% else %}
				<div class="jumbotron">
					<div class="bs-example">
						<p class="text-warning" align="center"><small>Usted actualmente no esta asociado a ningun proyecto</small></p>
					</div>
				</div>
			{% endif %}
		{% endif %}
		
		<!-- Ininicia Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
		      </div>
		      <div class="modal-body">
		        	Esta usted seguro de que desea eliminar el proyecto?
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
		       <a id="proyecto" href=""><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> Estoy Seguro</button></a>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Finaliza el Modal -->
</div>
{% endblock %}
