{% extends "base_general.html" %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Proyectos</a>
		</li>
		<li id="option2" >
			<a href="#">Solicitudes</a>
		</li>
		<li id="option3">
		 	<a href="#">Credenciales</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">
	<form class="navbar-form navbar-left">
		<button type="submit" class="btn btn-default">Crear Proyecto</button>
		<button type="submit" class="btn btn-default">Importar Proyecto</button>
		<div class="form-group">
			<input type="text" class="form-control">
		</div>
		<button type="submit" class="btn btn-default">Buscar</button>
	</form>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<div class="list-group">
		<a href="#" class="list-group-item">Proyecto 1</a>
		<a href="#" class="list-group-item">Proyecto 2</a>
		<a href="#" class="list-group-item">Proyecto 3</a>
		<a href="#" class="list-group-item">Proyecto 4</a>
		<a href="#" class="list-group-item">Proyecto 5</a>
	</div>
</div>
{% endblock %}












