{% extends "base_general.html" %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Usuarios</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">
	<form class="navbar-form navbar-left">
		
		<a href="nuevo/"><button type="button" class="btn btn-default">Crear Usuario</button></a>
		<div class="form-group">
			{% if error %}
			<p style="color:red;">No se encontraron coincidencias.</p>
			{% endif %}
			<form action="" method="get">
				<input type="text" name="busqueda" class="form-control">
				<input class="btn btn-default" type="submit" value="Buscar">
			</form>
			
		</div>
	</form>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<div class="panel-group" id="accordion">
	<div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ mi_perfil.id }}">
				          	 Mi Perfil
				        </a>
				      </h4>
				    </div>
				    <div id="collapse{{ mi_perfil.id }}" class="panel-collapse collapse">
				      <div class="panel-body">
				      		<a href="consultar/{{ mi_perfil.id }}/"><button type="button" class="btn btn-default btn-sm">Consultar</button></a>
				      		<a href="modificar/{{ mi_perfil.id }}/"><button type="button" class="btn btn-default btn-sm">Modificar</button></a>
				      		<button class="btn btn-danger btn-sm usuarios" data-toggle="modal" data-target="#myModal" data-id="{{ mi_perfil.id }}">Eliminar</button>

				      </div>
				    </div>
	</div>
	<br>
		{% if lista_usuarios %}
			{% for user in lista_usuarios %}
				{% if user.is_active %}
	<div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ user.id }}">
				          	{{ user.username }}
				        </a>
				      </h4>
				    </div>
				    <div id="collapse{{ user.id }}" class="panel-collapse collapse">
				      <div class="panel-body">
				      		<a href="consultar/{{ user.id }}/"><button type="button" class="btn btn-default btn-sm">Consultar</button></a>
				      		<a href="modificar/{{ user.id }}/"><button type="button" class="btn btn-default btn-sm">Modificar</button></a>
				      		<button class="btn btn-danger btn-sm usuarios" data-toggle="modal" data-target="#myModal" data-id="{{ user.id }}">Eliminar</button>

				      </div>
				    </div>
	</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		
		<!-- Ininicia Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
		      </div>
		      <div class="modal-body">
		        	Esta usted seguro de que desea eliminar al usuario?
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		       <a id="link" href=""><button type="button" class="btn btn-danger">Eliminar</button></a>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Finaliza el Modal -->
	</div>
	</div>
{% endblock %}
