{% extends "base_general.html" %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Usuarios</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
<div class="row">
	<form class="navbar-form navbar-left">
		<button type="submit" class="btn btn-default">Crear Usuario</button>
		<div class="form-group">
			<input type="text" class="form-control">
		</div>
		<button type="submit" class="btn btn-default">Buscar</button>
	</form>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<div class="list-group">
		{% if lista_usuarios %}
			{% for usuario in lista_usuarios %}
				<a href="#" class="list-group-item">{{ usuario.id }} : {{ usuario.user.first_name }} {{ usuario.user.last_name }}</a>
			{% endfor %}
		{% else %}
			<h6>La lista de Usuarios esta vacia.</h6>>
		{% endif %}
	</div>
</div>
{% endblock %}