{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_usuarios/">Usuarios</a></li>
			<li class="active"><a href="/adm_usuarios/nuevo/">Creación de usuario</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Crear Usuario</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	{% if form.errors %}
		Por favor verifique:error
	{% endif %}
	
	<form action="" method="post">
		<table align="center">
			{{ form.as_table }}
		</table>
		{% csrf_token %}
	<div align="center"><br>
		<input class="btn btn-default" type="submit" value="Crear"/>
		<a href="/adm_usuarios/"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}
