{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestión de {{ proyecto.nombre }}</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id  }}/importar_fase/importarf/{{ fase.id }}/">Importacion de Fase</a></li>
		 </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}

{% block menu %}
	<div class="menu">
		<ul>
		<li id="option1" class="active">
		<a href="#">Importar {{ fase.nombre }}</a>
		</li>
		</ul>
	</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<div class="container">
<div class="row">
<form action="" method="post">{% csrf_token %}
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
</div>

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
{% if form.errors %}
	<font color="red"><h4><p align="center"><b>Por favor verifique:</b></p></h4></font>
{% endif %}
<div class="bs-example">
			<h3><p align="center" class="text-warning"><small>{{ mensaje }}</small></p></h3>
</div>
<table class="table table-hover table-bordered table-condensed table-responsive">
	{{ form.as_table }}
</table>
<div align="center"><br>
	<input class="btn btn-default" type="submit" value="Importar Fase"/>
	<p><h2><span class="label label-default">La fase aun no cuenta con items</span></h2></h4></p>
	<a href="/adm_proyectos/gestionar/{{ proyecto.id  }}/"><button type="button" class="btn btn-default">Cancelar</button></a>
</div>
</div>

<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
</div>
</form>
</div>
</div>
</div>
{% endblock %}