{% extends "base_general.html" %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Crear Tipo de Item</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			</div>
				
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<form action="" method="post">{% csrf_token %}
					{% if form.errors %}
						<font color="red"><h4><p align="center"><b>Por favor verifique:</b></p></h4></font>
					{% endif %}
					<table class="table table-hover table-bordered table-condensed table-responsive">
						{{ form.as_table }}
					</table>
					<div align="center"><br>
						<input class="btn btn-default" type="submit" value="Guardar"/>
						<a class="btn btn-default" href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
					</div>
				</form>
			</div>
				
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			</div>
		</div>
	</div>
</div>
{% endblock %}