{% extends "base_general.html" %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_proyectos/">Proyectos</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/">Gestion de {{ proyecto.nombre }}</a></li>
			<li><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_tipos_item/">Tipo de Items</a></li>
			<li class="active"><a href="/adm_proyectos/gestionar/{{ proyecto.id }}/adm_tipos_item/listar_proyectos/">Importación de Tipo de Item</a></li>
        </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Acerca de</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro del Sistema<b class="caret"></b></a>
				<ul class="dropdown-menu">
				
				</ul>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}


{% block tipo_Item_y_Atributo %}
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_item/">Administrar Tipos de Item</a></li>
<li><a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_atributo">Administrar Tipos de Atributo</a></li>
{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="/">Importar Tipo de Item</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block botones %}
	{% if not error and lista_proyectos%}
		<div class="alert alert-info"><h2><p align="center"><b>Seleccione el proyecto al cual desea acceder</b></p></h2></div>
	{% endif %}
<div class="row">
	<form class="navbar-form navbar-left">
		
			<form action="" method="get">
				<input type="text" name="busqueda" class="form-control" placeholder="Busqueda de proyecto..." value="{{ query|escape }}">
				<span class="glyphicon glyphicon-search"></span>
				<input class="btn btn-default" type="submit" value="Buscar Proyectos">
			</form>
	</form>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
		{% if lista_proyectos %}
		<div class="row ">
		<div class="panel-group" id="accordion">
        		<div class="panel panel-default">
					
						<div class="col-md-3 col lg-3">
							<div class="panel-heading">
								<h4 class="panel-title"><b>Nombre</b></h4>
							</div>
						</div>
						
						<div class="col-md-3 col lg-3">
							<div class="panel-heading">
								<h4 class="panel-title"><b>Lider</b></h4>
							</div>
						</div>
						
						<div class="col-md-3 col lg-3">
							<div class="panel-heading">
								<h4 class="panel-title"><b>Estado</b></h4>
							</div>
						</div>
				</div>
				
				{% for proyecto in lista_proyectos %}
					<div class="panel panel-default">
					
						<div class="col-md-3 col lg-3">
							<div class="panel-heading">
								<h4 class="panel-title">{{ proyecto.nombre }}</h4>
							</div>
						</div>
						
						<div class="col-md-3 col lg-3">
							<div class="panel-heading">
								<h4 class="panel-title">{{ proyecto.lider }}</h4>
							</div>
						</div>
						
						<div class="col-md-3 col lg-3">
							<div class="panel-heading">
								<h4 class="panel-title">{{ proyecto.estado }}</h4>
							</div>
						</div>
								 
						<div class="col-md-3 col lg-3">
							<a href="listar_tipoitem/{{ proyecto.id }}/"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-import"></span> Seleccionar</button></a>
						</div>
								 
					</div>
				{% endfor %}
				<div align="center"><br>
						<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_item/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</button></a>
				</div>
			</div>
		{% else %}
			{% if error %}
				<div class="jumbotron">
  					<div class="alert alert-danger"><h3><p align="center"><b>No se encontraron coincidencias</b></p></h3></div>
				</div>
				<div  align="center">
					<a type="button" class="btn btn-default" href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_item/listar_proyectos/"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
				</div>	
			{% else %}
				<div class="jumbotron">
					<div class="bs-example">
						<p class="text-warning" align="center"><small>Actualmente no hay proyectos cargados en el sistema</small></p>
					</div>
				</div>
			{% endif%}
		{% endif %}
</div>		
</div>
{% endblock %}