{% extends "base_general.html" %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Tipo de Atributo</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<h2>Tipo de Atributo creado con Exito </h2>
	<a href="/adm_proyectos/gestionar/{{ id_proyecto }}/adm_tipos_atributo/"><button type="button" class="btn btn-default">OK</button></a>
		

</div>
{% endblock %}